@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #0e0f11;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Sağa sola kaymayı kapat */
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  width: 100%;
  padding: 15px 0;
  z-index: 11;
}
nav .navbar_hero {
  display: flex;
  justify-content: space-between;
}
nav .navbar_hero .nav_left {
  display: flex;
}
nav .navbar_hero .nav_left .logo img {
  padding: 7px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}
@media (max-width: 768px) {
  nav .navbar_hero .nav_left .logo img {
    max-width: 150px;
  }
}
nav .navbar_hero .nav_left .items {
  display: flex;
  align-items: center;
  margin-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}
nav .navbar_hero .nav_left .items ul {
  display: flex;
  padding: 0px 5px;
}
nav .navbar_hero .nav_left .items ul li {
  display: flex;
}
nav .navbar_hero .nav_left .items ul li #active_a {
  background: rgba(255, 255, 255, 0.1);
}
nav .navbar_hero .nav_left .items ul li a {
  font-family: "inter";
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  vertical-align: auto;
}
@media (max-width: 768px) {
  nav .navbar_hero .nav_left .items {
    display: none;
  }
}
nav .navbar_hero .left_right {
  display: flex;
  justify-content: space-between;
}
nav .navbar_hero .left_right .nav_right {
  display: flex;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #fff;
  height: 100vh;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  overflow: auto;
  width: 100%;
  background: #111;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-left .d-inline-flex .btn-primary {
  background-color: transparent;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  font-family: "inter";
  border: 0px;
  padding: 15px 30px;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-left .collapse .card,
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-left .collapsing .card {
  background-color: white;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-left .collapse .card_card-body #home li a,
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-left .collapsing .card_card-body #home li a {
  padding: 12px 12px 12px 30px;
  opacity: 0.6;
  line-height: 1;
  font-size: 22px;
  font-weight: 400;
  font-family: "inter";
  color: #ffffff;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  padding-left: 30px;
  color: #fff;
  background: #1d1d1d;
  align-items: center;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right .offcanvas-body .logo img {
  width: 100%;
  height: auto;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right .offcanvas-body .icons {
  margin-top: 40px;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right .offcanvas-body .icons i {
  font-size: 21px;
  margin: 0 15px;
  font-weight: 400;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right .offcanvas-body .item-30 {
  margin-top: 30px;
  font-size: 20px;
  font-family: "inter";
  text-align: center;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.7;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right .offcanvas-body .item-31 {
  display: flex;
  color: inherit;
  flex-direction: column;
  margin-top: 10px;
  font-size: 20px;
  font-family: "inter";
  text-align: center;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.7;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .offcanvas-right .offcanvas-body .item-31 span {
  text-decoration: underline;
}
nav .navbar_hero .left_right .nav_right #offcanvasNavbar .btn-close {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
nav .navbar_hero .left_right .nav_right .start {
  padding: 7px 20px;
  background: #fff;
  color: #1d1d1d;
  margin-right: 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
nav .navbar_hero .left_right .nav_right .start a {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #1d1d1d;
  font-family: "inter";
  text-decoration: none;
  align-items: center;
}
nav .navbar_hero .left_right .nav_right .start a img {
  margin-left: 10px;
  width: 18px;
}
@media (max-width: 994px) {
  nav .navbar_hero .left_right .nav_right .start a {
    font-size: 9px;
  }
}
@media (max-width: 994px) {
  nav .navbar_hero .left_right .nav_right .start {
    padding: 3px 20px;
  }
}
nav .navbar_hero .left_right .nav_right a {
  display: flex;
  text-decoration: none;
}
nav .navbar_hero .left_right .nav_right a i {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 25px;
}
@media (max-width: 768px) {
  nav .navbar_hero {
    width: 100%;
  }
}

header .header .header_box {
  padding-top: 140px;
  padding-bottom: 140px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
header .header .header_box .head_left h1 {
  font-size: 55px;
  text-indent: 20%;
  letter-spacing: -2px;
  font-weight: 500;
  line-height: 1.2;
}
header .header .header_box .head_right p {
  font-size: 16px;
  font-weight: 400;
  color: #a4a4a4;
  letter-spacing: 0.5px;
}

#blog-cards {
  padding-top: 140px;
  padding-bottom: 140px;
}
#blog-cards .cards_row {
  margin-left: -50px;
  margin-right: -50px;
}
#blog-cards .cards_row .bd {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
#blog-cards .cards_row .bd .card_box {
  margin-bottom: 50px;
}
#blog-cards .cards_row .bd .card_box .info {
  display: flex;
  align-items: center;
}
#blog-cards .cards_row .bd .card_box .info .item_left {
  display: flex;
  align-items: center;
}
#blog-cards .cards_row .bd .card_box .info .item_left .left_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
#blog-cards .cards_row .bd .card_box .info .item_left .left_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog-cards .cards_row .bd .card_box .info .item_left .left_info {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 10px;
}
#blog-cards .cards_row .bd .card_box .info .item_left .left_info h1 {
  line-height: 22px;
}
#blog-cards .cards_row .bd .card_box .info .item_left .left_info span {
  text-transform: capitalize;
  display: block;
  line-height: 22px;
  color: #a4a4a4;
}
#blog-cards .cards_row .bd .card_box .info .item_right {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: auto;
}
#blog-cards .cards_row .bd .card_box .info .item_right .item_box {
  display: block;
  line-height: 22px;
  color: #a4a4a4;
}
#blog-cards .cards_row .bd .card_box .info .item_right .item_box svg {
  width: 13px;
  margin-right: 15px;
  opacity: 0.7;
  fill: #a4a4a4;
  color: #a4a4a4;
}
#blog-cards .cards_row .bd .card_box .image {
  border-radius: 15px;
  height: 255px;
  overflow: hidden;
  margin-top: 30px;
}
#blog-cards .cards_row .bd .card_box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog-cards .cards_row .bd .card_box .content_cards {
  margin-top: 30px;
}
#blog-cards .cards_row .bd .card_box .content_cards h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}
#blog-cards .cards_row .bd .card_box .content_cards h2 a {
  text-decoration: none;
  color: #ffffff;
}
#blog-cards .cards_row .bd ::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.01);
}
@media (max-width: 992px) {
  #blog-cards .cards_row .bd ::after {
    display: none;
  }
}
#blog-cards .cards_row .hd {
  padding-left: 50px;
  padding-right: 50px;
}
#blog-cards .cards_row .hd .card_box {
  margin-bottom: 50px;
}
#blog-cards .cards_row .hd .card_box .info {
  display: flex;
  align-items: center;
}
#blog-cards .cards_row .hd .card_box .info .item_left {
  display: flex;
  align-items: center;
}
#blog-cards .cards_row .hd .card_box .info .item_left .left_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
#blog-cards .cards_row .hd .card_box .info .item_left .left_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog-cards .cards_row .hd .card_box .info .item_left .left_info {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 10px;
}
#blog-cards .cards_row .hd .card_box .info .item_left .left_info h1 {
  line-height: 22px;
}
#blog-cards .cards_row .hd .card_box .info .item_left .left_info span {
  text-transform: capitalize;
  display: block;
  line-height: 22px;
  color: #a4a4a4;
}
#blog-cards .cards_row .hd .card_box .info .item_right {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: auto;
}
#blog-cards .cards_row .hd .card_box .info .item_right .item_box {
  display: block;
  line-height: 22px;
  color: #a4a4a4;
}
#blog-cards .cards_row .hd .card_box .info .item_right .item_box svg {
  width: 13px;
  margin-right: 15px;
  opacity: 0.7;
  fill: #a4a4a4;
  color: #a4a4a4;
}
#blog-cards .cards_row .hd .card_box .image {
  border-radius: 15px;
  height: 255px;
  overflow: hidden;
  margin-top: 30px;
}
#blog-cards .cards_row .hd .card_box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog-cards .cards_row .hd .card_box .content_cards {
  margin-top: 30px;
}
#blog-cards .cards_row .hd .card_box .content_cards h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}
#blog-cards .cards_row .hd .card_box .content_cards h2 a {
  text-decoration: none;
  color: #ffffff;
}

footer {
  font-family: "inter";
}
footer .footer {
  margin-bottom: 140px;
}
footer .footer .footer_box {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 140px 12px 80px 12px;
}
footer .footer .footer_box .footer_top {
  margin-bottom: 80px;
  text-align: center;
}
footer .footer .footer_box .footer_top h2 {
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  letter-spacing: -3px;
}
footer .footer .footer_box .footer_top h2 a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
footer .footer .footer_box .footer_top h2 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #d0ff71;
  position: absolute;
  top: -80px;
  right: 8%;
  font-size: 32px;
  color: #212121;
}
footer .footer .footer_box .footer_top h2 .circle a {
  color: #212121;
}
footer .footer .footer_box .footer_top h2 .circle a .span_up {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  footer .footer .footer_box .footer_top h2 .circle {
    display: none;
  }
}
@media (max-width: 768px) {
  footer .footer .footer_box .footer_top h2 {
    font-size: 35px;
    line-height: 1.4;
  }
}
footer .footer .footer_box .number {
  display: flex;
  justify-content: end;
}
@media (max-width: 768px) {
  footer .footer .footer_box .number {
    display: flex;
    justify-content: start;
  }
}
footer .footer .footer_box .item {
  margin-bottom: 50px;
}
footer .footer .footer_box .item h1 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #8e8e8e;
}
footer .footer .footer_box .item p {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
}
footer .footer .footer_box .social_icons a {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  font-size: 14px;
  transition: all 0.4s;
  color: #ffffff;
  text-decoration: none;
}
footer .footer .footer_box .social_icons a:hover {
  border: 1px solid #ffffff;
}
footer .sub_group {
  padding-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
footer .sub_group .sub_left p {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 400;
}
footer .sub_group .sub_left p a {
  color: #ffffff;
  text-decoration: none;
}
footer .sub_group .sub_links {
  display: flex;
  justify-content: space-between;
}
footer .sub_group .sub_links a {
  font-size: 14px;
  text-decoration: none;
  color: #8e8e8e;
  line-height: 28px;
  font-weight: 400;
}
footer .sub_group .sub_links #active {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  line-height: 28px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */