#blog {
    padding-bottom: 140px;
    font-family: "inter";

    .blog {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding-top: 140px;

        .blog_text {
            margin-bottom: 100px;

            .sub_head {
                ul {
                    padding-left: 25px;

                    li {
                        list-style: disc;
                        color: #ffffff;
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }

            .sub_head_right {
                h2 {
                    font-size: 36px;
                    font-weight: 400;
                    line-height: 1.4;
                    color: #ffffff;
                    letter-spacing: -2px;

                    span {
                        color: #8e8e8e;
                    }
                }
            }
        }

        .cards_size_left {
            .plink_cards {

                .cards {

                    .cards_image {
                        display: flex;
                        height: 470px;
                        border-radius: 15px;
                        overflow: hidden;
                        object-fit: cover;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .image_text {
                        display: flex;
                        margin-top: 30px;
                        flex-direction: column;


                        .left_link {
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 1.4;
                            color: #ffffff;
                            list-style: none;
                            text-decoration: none;
                        }
                        .info {
                            margin-top: 20px;
                            .tag {
                            font-size: 14px;
                            color: #ffffff;
                            line-height: 28px;
                            font-weight: 400;
                            list-style: none;
                            text-decoration: none;
                        }

                        .date {
                            opacity: .5;
                            margin-left: 5px;
                            font-size: 14px;
                            color: #ffffff;
                            line-height: 28px;
                            font-weight: 400;
                            list-style: none;
                            text-decoration: none;
                        }
                        }
                        
                    }
                }
            }
        }

        .cards_size_right {
            .plink_cards {

                .cards {

                    .cards_image {
                        display: flex;
                        height: 470px;
                        border-radius: 15px;
                        overflow: hidden;
                        object-fit: cover;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .image_text {
                        display: flex;
                        margin-top: 30px;
                        flex-direction: column;


                        .left_link {
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 1.4;
                            color: #ffffff;
                            list-style: none;
                            text-decoration: none;
                        }
                        .info {
                            margin-top: 20px;
                            .tag {
                            font-size: 14px;
                            color: #ffffff;
                            line-height: 28px;
                            font-weight: 400;
                            list-style: none;
                            text-decoration: none;
                        }

                        .date {
                            opacity: .5;
                            margin-left: 5px;
                            font-size: 14px;
                            color: #ffffff;
                            line-height: 28px;
                            font-weight: 400;
                            list-style: none;
                            text-decoration: none;
                        }
                        }
                        
                    }
                }
            }
        }
    }

}