#contact {
    padding-bottom: 140px;

    .box {
        padding: 120px 60px;
        background-image: url(/Hubfolio/src/assets/g-back\ 1.2.png);
        background-size: cover;
        background-position: center center;
        border-radius: 30px;
        overflow: hidden;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .text {
                font-family: "inter", sans-serif;

                h1 {
                    font-size: 36px;
                    letter-spacing: -2px;
                    font-weight: 400;
                    line-height: 1.4;
                    color: #ffffff;

                    span {
                        color: #8e8e8e;
                    }
                }
            }

            .call {
                font-family: "Inter", sans-serif;
                margin-top: 50px;

                h1 {
                    color: #fff;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 1.4;
                    margin-bottom: 10px;
                }

                span {
                    color: #8e8e8e;

                    font-size: 14px;
                }

                .show_btn {
                    #learn_btn {
                        display: inline-block;
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        border-radius: 30px;
                        padding: 12px 25px;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: "inter";
                        list-style: none;
                        text-decoration: none;
                        transition: .4s ease-in-out;
                        margin-top: 50px;

                        .learn {
                            display: flex;
                            align-items: center;
                            color: #ffffff;

                            h3 {

                                transition: .4s ease-in-out;


                            }

                            #arrow_icon {
                                font-size: 18px;

                                transition: .4s ease-in-out;

                            }
                        }

                        &:hover {
                            background: #fff;

                        }

                        &:hover h3 {
                            color: #212121;

                        }

                        &:hover #arrow_icon {
                            color: #212121;
                        }
                    }
                }
            }


        }

        .form_group {
            font-family: "inter";
            margin-bottom: 30px;

            label {
                font-size: 14px;
                margin-bottom: 5px;
                color: #ffffff;

                span {
                    color: red;
                    padding-left: 5px;
                }
            }

            #form_name {
                color: #fff;
                background: transparent;
                width: 100%;
                padding: 0 0 10px;
                border: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                font-size: 18px;

            }
        }

        .form_budget {
            font-family: "inter";
            margin-bottom: 30px;

            label {
                font-size: 14px;
                margin-bottom: 5px;
                color: #ffffff;

                span {
                    color: #8e8e8e;
                }
            }

            #form_name {
                color: #fff;
                background: transparent;
                width: 100%;
                padding: 0 0 10px;
                border: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                font-size: 18px;

            }
        }

        .form_message {
            font-family: "inter";
            margin-bottom: 30px;

            label {
                font-size: 14px;
                margin-bottom: 5px;
                color: #ffffff;
            }

            #form_message {
                color: #fff;
                background: transparent;
                width: 100%;
                padding: 0 0 10px;
                border: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                font-size: 18px;

            }
        }
        .show_btn {
            #learn_btn {
                display: inline-block;
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 30px;
                padding: 12px 25px;
                font-size: 14px;
                font-weight: 500;
                font-family: "inter";
                list-style: none;
                text-decoration: none;
                transition: .4s ease-in-out;
                margin-top: 60px;

                .learn {
                    display: flex;
                    align-items: center;
                    color: #ffffff;

                    h3 {

                        transition: .4s ease-in-out;


                    }

                    #arrow_icon {
                        font-size: 18px;

                        transition: .4s ease-in-out;

                    }
                }

                &:hover {
                    background: #fff;

                }

                &:hover h3 {
                    color: #212121;

                }

                &:hover #arrow_icon {
                    color: #212121;
                }
            }
        }
    }
}