header {
    .head_left {
        h1 {
            font-size: 55px;
            text-indent: 20%;
            letter-spacing: -3px;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    .head_right {
        p {
            font-size: 16px;
            font-weight: 400;
            color: #a4a4a4;
        }
    }
}